@import "roomsList";

body {
}

.main-container {
   /* These three are just basically trial and error :( */
  position: fixed;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}

.nickname-modal{
  /*max-width: 450px;*/
  .button.connect:not([disabled]){
    .enabled-legend{display:block};
    .disabled-legend{display:none};
  }
  .button.connect[disabled]{
    .enabled-legend{display:none};
    .disabled-legend{display:block};
  }
}

.rooms-list-container {
  ul.list {
    li {
      cursor: pointer;
    }
    li[data-selected] {
      background-color: #D5D5D5;
    }
  }
}

.chat-room-tabs-manager{
  height: 100%;
  [data-tab-title]{
    [data-new-messages-display]{
      display: none;
    }
    &.withNewMessages{
      font-weight: bold;
      [data-new-messages-display]{
        display: initial;
      }
    }
  }
}
.tabs-content {
  height: 100%;

  .chat-content{
    height: 100%;
    padding: 0; /* overrides Foundations .tabs-content .content */
    .row.messages-and-users{
      height: 100%;
      padding-bottom: 75px;
      .room-messages-container{
        &> .row .columns{
          border-width: 1px 0px 0px 1px;
          border-style: solid;
          border-color: #DDDDDD;          
          padding: 8px;
        }
        .user-message{
          .nickname {
            text-align: right;
          }
        }
        .user-joined{
          .message {
            font-weight: bold;
            color: green;
          }
        }
        .user-left{
          .message {
            font-weight: bold;
            color: red;
          }
        }
        .global{
          .message {
            font-weight: bold;
            font-style: italic;
          }
        }
        .topic-changed{
          .message {
            font-weight: bold;
            font-style: italic;
          }
        }
      }
    }
    .row.form{
      margin-top: -60px;
      background-color: #EEEEEE;
    }
    .input-msg{
      width: 100%;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 16px;
    }
    .btn-send{
      margin-top: 10px;
      width: 100%;
    }

    .room-messages-container{
      background-color: #FFFFFF;
      height: 100%;
      overflow-y: scroll;
    }
    .room-users-container{
      background-color: #DDDDDD;
      height: 100%;
      overflow: scroll;
      white-space: nowrap;
    }
  }
}