<li class="tab-title" data-tab-title data-room-token="{{roomToken}}">
  <a href="#roomToken-{{roomToken}}">{{name}} <span data-new-messages-display>(0)</span> <span class="close-tab" data-close-tab>x</span></a>
</li>