<div class="row user-message" data-userToken="{{userToken}}" style="color:{{userFontColor}}">
  <div class="small-2 columns nickname">{{userNickname}}</div>
  <div class="small-10 columns text">{{{message}}}</div>
</div>