<div data-chat-room-tabs-manager class="chat-room-tabs-manager">
  <ul class="tabs" data-tab data-chat-room-tab-titles>
  </ul>

  <div class="tabs-content" data-chat-room-tab-contents>
  </div>
</div>