<div class="row topic-changed" data-userToken="{{userToken}}">
  <div class="small-2 columns">&nbsp;</div>
  <div class="small-10 columns message"><span style="color: {{userFontColor}}">{{userNickname}}</span> has changed the topic to &quot;{{topic}}&quot;</div>
</div>