<div class="row topic-changed" data-userToken="{{userToken}}">
  <div class="small-2 columns">&nbsp;</div>
  <div class="small-10 columns message">user has changed the topic to &quot;Hello my world, enjoy your day!&quot;</div>
</div>