<div class="row user-left" data-userToken="{{userToken}}">
  <div class="small-2 columns">&nbsp;</div>
  <div class="small-10 columns message"><i class="fa fa-long-arrow-left"></i> {{userNickname}} has left</div>
</div>