<div class="row user-joined" data-userToken="{{userToken}}">
  <div class="small-2 columns">&nbsp;</div>
  <div class="small-10 columns message"><i class="fa fa-long-arrow-right"></i> user has joined</div>
</div>