<div class="chat-content content" id="roomToken-{{roomToken}}" data-tab-content data-room-token="{{roomToken}}">
  <div class="row fullWidth messages-and-users">
    <div class="small-10 columns room-messages-container" data-room-messages-container>

      <div class="row global">
        <div class="small-2 columns">&nbsp;</div>
        <div class="small-10 columns message">Welcome to ABC room.  The topic of this room is &quot;some topic&quot;.  You can change the topic by sending a command /topic &lt;The new topic&gt;</div>
      </div>

      <div class="row topic-changed" data-userToken="{{userToken}}">
        <div class="small-2 columns">&nbsp;</div>
        <div class="small-10 columns message">user has changed the topic to &quot;Hello my world, enjoy your day!&quot;</div>
      </div>

    </div>

    <div class="small-2 columns room-users-container" data-room-users-container>
    </div>
  <div class="row fullWidth form">
    <form class="form-msg" data-form-message>
      <div class="small-11 columns">
        <input class="input-msg" placeholder="Type your message or command here..." data-input />
      </div>
      <div class="small-1 columns">
        <button class="btn-send" data-send>Send</button>
      </div>
    </form>
  </div>
</div>