<div class="reveal-modal motd-modal tiny" data-reveal data-motd>
  <h2>Message from the Server</h2>
  <p>{{{ messageOfTheDay }}}</p>
  <a href="#" class="button right" data-close-modal>Ok</a>
  <a class="close-reveal-modal">&#215;</a>
</div>