<div class="reveal-modal nickname-modal tiny" data-reveal data-nickname-prompt data-options="close_on_background_click:false">
  <div data-alert-container></div>
  <h2>Welcome to node-chat</h2>
  <form>
    <label for="nickname">Please type in your nickname of choice:</label>
    <input name="nickname" type="text" maxlength="16" data-nickname-input />
    <a href="#" class="button right connect" data-chat-connect><span class="enabled-legend">Connect</span><span class="disabled-legend">Please wait... <i class="fa fa-spin fa-spinner"></i></span></a>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>