<div class="reveal-modal rooms-list-modal medium" id="rooms-list" data-reveal data-rooms-list-modal>
  <div data-alert-container></div>
  <div class="rooms-list-container" data-rooms-list>
    <p>Loading rooms list, please wait... <i class="fa fa-spin fa-spinner"></i></p>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>