<div class="reveal-modal room-join-modal small" data-reveal data-room-join-modal>
  <div data-alert-container></div>
  <h2>Join or create a room by its name</h2>
  <form>
    <label for="roomName">Please type in the name of the channel you want to join.  If it doesn't exist, it'll be created:</label>
    <input name="roomName" type="text" maxlength="16" data-room-name-input />
    <a href="#" class="button right join" data-room-join-button>Join</a>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>