<div id="{{jsListId}}">
  <h3>Please search and select a room from the list</h3>

  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>

  <p>TODO: create the empty state flow that takes the user to the "join room by name" popup</p>
  <ul class="list" data-list>
    {{#roomsList}}
      <li data-room-token="{{token}}">
        <h3><span class="name">{{name}}</span> ({{usersCount}} users)</h3>
        <p class="topic">{{topic}}</p>
      </li>
    {{/roomsList}}
  </ul>
</div>
<a href="#" class="button right" data-join-room-button>Join</a>